<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @projeto_arquitetonico.status %>
</p>

<%= link_to 'Edit', edit_projeto_arquitetonico_path(@projeto_arquitetonico) %> |
<%= link_to 'Back', projeto_arquitetonicos_path %>
